.block{
    position: relative;
    top: 100px;
}
.peach{
    width: 100px;
    background: linear-gradient(80deg,yellow,orange 60%);
    color: white;
    border-radius: 14px;
}
.purple{
    width: 100px;
    color: white;
    border-radius: 14px;
    background: linear-gradient(80deg,purple,violet);
}
.blue{
    width: 100px;
    color: white;
    border-radius: 14px;
    background: linear-gradient(80deg,#007bff,dodgerblue);
}
.aqua{
    width: 100px;
    color: white;
    border-radius: 14px;
    position: relative;
    bottom: 38px;
    left: 300px;
    background: linear-gradient(80deg,aqua,darkturquoise);
}